@page "/Beneficiary"
@* @inject ApiService ApiService *@
@* @using PESOapps.Models *@
@* <h2>Beneficiary</h2> *@
@* <div class="form-cont"> *@
@*     @if (Beneficiary == null) *@
@*     { *@
@*         <p>Loading...</p> *@
@*     } *@
@*     else *@
@*     { *@
@*         <div class="table-scroll"> *@
@*             <table class="table"> *@
@*                 <thead> *@
@*                     <tr> *@
@*                         <th>No</th> *@
@*                         <th>Verified</th> *@
@*                         <th>First Name</th> *@
@*                         <th>Middle Name</th> *@
@*                         <th>Last Name</th> *@
@*                         <th>Extension Name</th> *@
@*                         <th>Birthday</th> *@
@*                         <th>Barangay</th> *@
@*                         <th>City/Municipality</th> *@
@*                         <th>Province</th> *@
@*                         <th>District</th> *@
@*                         <th>Type of ID (e.g. SSS, Voter's ID)</th> *@
@*                         <th>ID Number</th> *@
@*                         <th>Contact No. </th> *@
@*                         <th>E-payment/Bank Account No.</th> *@
@*                         <th>Type of Beneficiary</th> *@
@*                         <th>Occupation</th> *@
@*                         <th>Sex</th> *@
@*                         <th>Civil Status</th> *@
@*                         <th>Age</th> *@
@*                         <th>Average monthly income</th> *@
@*                         <th>Dependent</th> *@
@*                         <th>Interested in wage employment or self- employment?</th> *@
@*                         <th>Skills training needed</th> *@
@*                     </tr> *@
@*                 </thead> *@
@*                 <tbody> *@
@*                     @{ *@
@*                         int index = 1; *@
@*                     } *@
@*                     @foreach (var benef in Beneficiary) *@
@*                     { *@
@*                         <tr> *@
@*                             <td>@index</td> *@
@*                             <td>@benef.Verification</td> *@
@*                             <td>@benef.FirstName</td> *@
@*                             <td>@benef.MiddleName</td> *@
@*                             <td>@benef.LastName</td> *@
@*                             <td>@benef.ExtensionName</td> *@
@*                             <td>@benef.Birthday</td> *@
@*                             <td>@benef.Barangay</td> *@
@*                             <td>@benef.Municipality</td> *@
@*                             <td>@benef.Province</td> *@
@*                             <td>@benef.District</td> *@
@*                             <td>@benef.IDType</td> *@
@*                             <td>@benef.IDNumber</td> *@
@*                             <td>@benef.ContactNo</td> *@
@*                             <td>@benef.Epayment</td> *@
@*                             <td>@benef.TypeOfBenef</td> *@
@*                             <td>@benef.Occupation</td> *@
@*                             <td>@benef.Sex</td> *@
@*                             <td>@benef.CivilStatus</td> *@
@*                             <td>@benef.Age</td> *@
@*                             <td>@benef.AverageIncome</td> *@
@*                             <td>@benef.Dependent</td> *@
@*                             <td>@benef.InterestWage</td> *@
@*                             <td>@benef.SkillTraining</td> *@
@*                         </tr> *@
@*                         index++; *@
@*                     } *@
@*                 </tbody> *@
@*             </table> *@
@*         </div> *@
@*     } *@
@* </div> *@
@* @using webapi_peso.Models; *@
@* @code { *@
@*     private List<Beneficiary>? Beneficiary; *@

@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         Beneficiary = await ApiService.GetProductsAsync(); *@
@*     } *@
@* } *@